body {
  font-size: 16px;
}

#nav {
  background-color: darkblue;
}
#nav a {
  color: white;
}
#nav a:focus, #nav a:hover {
  color: navy;
}
#nav .dropdown-menu {
  background-color: inherit;
  border: 1px solid white;
  margin-left: 12px;
  
}

.chartDiv {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.header {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}

.header-active-page {
  font-style: italic;
  font-weight: bold;
}

.loading-container {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.loading-message {
  font-size: 1.5em;
}

.main-content {
  background-color: lightgreen;
  min-height: 200px;
  padding: 5px;
}
.main-nav {
  background-color: darkblue;
  min-width: 20%;
}

.searchDiv > form {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 5px;
  margin: 10px;
}

.stocks-remove {
  background-color: white;
  border-radius: 50%;
  color: red;
  font-weight: bolder;
  margin: 0 5px;
  padding: 0 5px;
  cursor: pointer;
}

.wrapper {
  background-color: darkblue;
}

.float-left {
  float: left;
}
.full-width {
  width: 100%;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

.React-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
